.green{
	background-color: green;
	color: white;
	text-align: center;
	cursor: pointer;
}

.black {
	background-color: black;
	color: white;
}

.blank {
    text-align: center;
}

th, td{
	min-width: 15px;
	width: 15px;
	height: 12px;
	line-height:12px;
	padding: 0;
	margin: 0;
}

th{
	font-size: 11px;
}

td{
	font-size: 8px;
}

td.axisLabel{
	font-size: 13px;
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
}

td#vAxisLabel{
	padding-top: 12px;
}

.vertical{
	white-space: nowrap;
	writing-mode: vertical-rl;
}

#scoreTable{
	margin: auto;
}

th.loseScoreLabel{
	text-align: right;
}